<table id="outer">
  <tr>
    <td>
      <table id="edits">
        <tr>
          <td>Layer height:</td>
          <td><input
            [(ngModel)]="editDimensions.layerHeight" type="number" minValue="1"
            [ngClass]="editDimensions.layerHeight !== lastPosted.layerHeight ? 'changed' : ''"/>
          </td>
        </tr>
        <tr>
          <td>Layer distance:</td>
          <td><input
            [(ngModel)]="editDimensions.layerDistance" type="number" minValue="1"
            [ngClass]="editDimensions.layerDistance !== lastPosted.layerDistance ? 'changed' : ''"/>
          </td>
        </tr>
        <tr>
          <td>Node box height:</td>
          <td><input
            [(ngModel)]="editDimensions.nodeBoxHeight" type="number" minValue="1"
            [ngClass]="editDimensions.nodeBoxHeight !== lastPosted.nodeBoxHeight ? 'changed' : ''"/> />
          </td>
        </tr>
        <tr>
          <td>Intermediate width:</td>
          <td><input
            [(ngModel)]="editDimensions.intermediateWidth" type="number" minValue="1"
            [ngClass]="editDimensions.intermediateWidth !== lastPosted.intermediateWidth ? 'changed' : ''" />
          </td>
        </tr>
        <tr>
          <td>Node width:</td>
          <td><input
            [(ngModel)]="editDimensions.nodeWidth" type="number" minValue="1"
            [ngClass]="editDimensions.nodeWidth !== lastPosted.nodeWidth ? 'changed' : ''"/>
          </td>
        </tr>
        <tr>
          <td>Omitted placeholder width:</td>
          <td><input
            [(ngModel)]="editDimensions.omittedPlaceholderWidth" type="number" minValue="1"
            [ngClass]="editDimensions.omittedPlaceholderWidth !== lastPosted.omittedPlaceholderWidth ? 'changed' : ''" />
          </td>
        </tr>
        <tr>
          <td>Node box width:</td>
          <td><input
            [(ngModel)]="editDimensions.nodeBoxWidth" type="number" minValue="1"
            [ngClass]="editDimensions.nodeBoxWidth !== lastPosted.nodeBoxWidth ? 'changed' : ''" />
          </td>
        </tr>
      </table>
    </td>
    <td>
      <table id="buttons">
        <tr>
          <td><button (click)="toFactory()">Back to factory settings</button></td>
        </tr>
        <tr>
          <td><button (click)="commit()">Apply</button></td>
        </tr>
      </table>
    </td>
  </tr>
</table>