tr {
  display: flex;
  flex-direction: row;
}

td {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

textarea {
  width: 250px;
  height: 150px
}

button {
  background-color: lightgray
}

button:hover {
  background-color: gray
}

button:active {
  transform: translateY(6px)
}