.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

#scale-overlay {
  position: absolute;
  top: 0;
  right: 0;
}

svg {
  display: block;
  width: 100%;
  height: 100%;
}

.rectangle {
  fill: transparent;
  stroke: black;
  stroke-width: 3;
}

g {
  pointer-events: all;
  cursor: pointer;
}

.line {
  stroke: black;
  stroke-width: 3;
}

.rectangle.selected {
  stroke: blue;
}

.line.selected {
  stroke: blue;
}

.line.error {
  stroke: red
}

.line.error.selected {
  stroke: purple
}

.rectangle:hover {
  stroke-width: 10;
}

.line:hover {
  stroke-width: 10;
}

