.rectangle {
  fill: transparent;
  stroke: black;
  stroke-width: 3;
}

.line {
  stroke: black;
  stroke-width: 3;
}

.rectangle.selected {
  stroke: blue;
}

.line.selected {
  stroke: blue;
}

.rectangle:hover {
  stroke-width: 10;
}

.line:hover {
  stroke-width: 10;
}

