FlowChartEditor is being refactored. For now, the new version, which is not
complete yet, is shown at the top of this window. Scroll down to see the old
version.

<h1 New version></h1>

<table id="top">
  <tr>
    <td>
      <h2>Mermaid input</h2>
      <textarea [(ngModel)]="mermaidText"></textarea>      
    </td>
    <td>
      <button (click)="loadMermaid()">Load</button>
    </td>
  </tr>
</table>

<table id="bottom">
  <tr>
    <td>
      <h2>Sequence editor</h2>
      <div class="boundary">
        <app-sequence-editor [model]="layoutModel"></app-sequence-editor>
      </div>
    </td>
    <td id="drawing">
      <table id="above-drawing">
        <tr>
          <td><h2>Layout</h2></td>
          <td>
            <div id="slider-container">
              <input type="range" min="25" max="200" class="slider" [(ngModel)]="zoomInput">
            </div>
          </td>
          <td>
            <div id="zoomPerc">{{ zoomInput + "%" }}</div>
          </td>
        </tr>
      </table>
      <div id="drawing-area" class="boundary">
        <app-frank-flowchart id="frankFlowChart" [zoom]="zoomInput"></app-frank-flowchart>
      </div>
    </td>
  </tr>
</table>

<h1 End of new version></h1>
