tr {
  display: flex;
  flex-direction: row;
}

td {
  display: flex;
  flex-direction: column;
}

#top > tr > td {
  justify-content: end;
}

textarea {
  margin-top: 20px;
  width: 250px;
  height: 150px
}

#values {
  padding-left: 50px
}

#numCrossingLines {
  padding-top: 20px
}

button {
  background-color: lightgray
}

button:hover {
  background-color: gray
}

button:active {
  transform: translateY(6px)
}

.loadButton {
  margin-top: 20px;
  margin-left: 20px;
}

#bottom {
  padding-top: 30px
}

#bottom > tr > td {
  justify-content: start
}

#drawing {
  padding-left: 50px
}

#above-drawing > tr > td
{
  justify-content: center;
}

#slider-container {
  padding-left: 30px
}

.slider {
  width: 300px;
}

.slider:hover {
  cursor: pointer
}

#zoomPerc {
  padding-left: 20px
}

#labelShowNodeText {
  padding-left: 20px
}

.boundary {
  border-style: solid;
  border-color: black;
  border-width: 1px;
}

#drawing-area {
  resize: both;
  overflow: hidden;
  height: 100%;
  width: 100%;
}
