.page {
    display: flex;
    height: 1500px;
    flex-direction: column;
}

.mermaid, .svg {
    flex-grow: 1;
}

.top {
    display: flex;
    height: 1200px;
}

.left {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

#myGrid {
    flex-grow: 1;
}

svg .nodeText {
    text-anchor: middle;
    font-size: x-small;
  }