#showTextContainer {
  padding-bottom: 10px
}

[cdkDragHandle] {
  cursor:pointer;
}

[cdkDragHandle]:hover {
  color: red;
}

table {
  border-spacing: 0px;
  overflow: clip;
}

thead th {
  writing-mode: vertical-lr;
  vertical-align: bottom;
  cursor: default
}

.odd {
  background-color: rgba(0, 0, 0, 0.2);
}

.doubleOdd {
  background-color: rgba(0, 0, 0, 0.3);
}

.selected {
  background-color: rgba(0, 0, 128, 0)
}

.selected.odd {
  background-color: rgba(0, 0, 128, 0.2)
}

.selected.doubleOdd {
  background-color: rgba(0, 0, 128, 0.3)
}

.even.selected {
  background-color: rgb(196, 196, 255)
}

td {
  padding-left: 6px;
  padding-right: 6px;
}

.edgeMark {
  color: green;
  width: 10px;
  height: 10px;
  border: 1px solid
}

.hasEdge {
  background-color: green;
}

.placeholder {
  padding-top: 30px
}

.row-header-omitted>select {
  width: 100%;

  option {
    color: black;
  }
}

.row-header-present {
  display: flex;
  justify-content: space-between;
}

td, thead>th:not(:first-child) {
  position: relative;
}

tr:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

td:hover::before, thead>th:not(:first-child):hover::before {
  position: absolute;
  left: 0;
  top: -300vh;
  height: 300vw;
  width: 100%;
  z-index: -1;
  content: "";
  background-color: rgba(0, 0, 0, 0.1);
}