<div>
  <div id="showTextContainer"><label>Show node text</label><input type="checkbox" [checked]="showText" (click)="onNewCaptionChoice()"/></div>
  <table *ngIf="view.header.length > 0" cdkDropList (cdkDropListDropped)="drop($event)">
    <thead>
      <th></th>
      <th *ngFor="let headerCell of view.header" [ngClass]="getClass(headerCell)" (click)="selectNode(headerCell.position)">
        {{ headerCell.nodeId === null ? "\<empty\>" : headerCell.nodeId}}
      </th>
    </thead>
    <tr *ngFor="let row of view.body" cdkDrag>
      <th [ngClass]="getClass(row.header)">
        <div class="row-header-omitted" *ngIf="row.header.nodeId === null">
          <select (change)="reintroducePulldownSelect($event, row.header.position)" cdkDragHandle>
            <option></option>
            <option *ngFor="let option of row.header.fillOptions">{{ option }}</option>
          </select>
        </div>
        <div class="row-header-present" *ngIf="row.header.nodeId !== null">
          <div cdkDragHandle>{{ row.header.nodeId }}</div>
          <button (click)="omit(row.header.position)">X</button>
        </div>
      </th>
      <td *ngFor="let cell of row.cells" [ngClass]="getClass(cell)" (click)="selectCell(cell.fromPosition, cell.toPosition)">
        <div
          [ngClass]="getCellClass(cell)"
          (click)="selectCell(cell.fromPosition, cell.toPosition)">
        </div>
      </td>
    </tr>
  </table>
  <div *ngIf="view.header.length == 0" class="placeholder">No Mermaid loaded yet</div>
</div>
