<p>Available</p>

<table
  cdkDropList
  id="available"
  cdkDropListData="available"
  cdkDropListConnectedTo="omitted"
  (cdkDropListDropped)="drop($event)"
>
  <tr *ngFor="let row of items" cdkDrag>
    <td cdkDragHandle>{{ row[0] }}</td>
    <td>{{ row[1] }}</td>
  </tr>
</table>

<p>Omitted</p>

<table
  cdkDropList
  id="omitted"
  cdkDropListData="omitted"
  cdkDropListConnectedTo="available"
  (cdkDropListDropped)="drop($event)"
>
  <tr *ngFor="let item of otherItems" cdkDrag>
    <td cdkDragHandle>{{ item }}
      <select (change)="select($event, item)">
        <option></option>
        <option>First</option>
        <option>Second</option>
      </select>
    </td>
  </tr>
</table>
<div>{{ lastMove }}</div>
<div>{{ receivedFromParent }}</div>