.ag-header-cell:not(.ag-column-first) > .ag-header-cell-comp-wrapper {
    rotate: -45deg;
    position: absolute;
}

.ag-header-cell-text {
    position: absolute;
}

.ag-header-row:not(:first-child) .ag-header-cell:not(.ag-header-span-height.ag-header-span-total) {
    overflow: visible;
}

.highlight {
    stroke: blue!important;
}

.moveable {
    cursor: move;
}

.prevent-selection {
    user-select: none; /* Standard syntax */
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
}